
@import '../../themes/_variable.scss' ;

.colgroup-tab{
    background: #F3F5F7;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
}
.colgroup-tab span{
   font-size: 16px; 
}
.colgroup-tab div{
    float: right;
}

.colgroup-tab .el-button{
    color:#47C6E6;
    border-color: #47C6E6 !important;
}
