@charset "utf-8" ;

$success : #13ce66 ;
$warning : #f7ba2a ;
$error : #ff4949 ;
$info : #50bfff ;

$bodyBg : #fff ;

//center background color
$cbc:#F3F5F7;
// main theme color 
$mtc : #34495E ;
// font color
// main font color
$mfc : #34495E; 
// sub font color
$sfc : #999 ;

$primary:#47C6E6;
$grey: #F0F0F0;

//nav hover color
$nhc:#47C6E6;

//button hover color
$bhc:#47C6E6;

//table th color
$ttc:#474747;

//table tr color
$trc:#F2F2F2;

















